h1 {
    padding-top: 100px;
}

.btn-primary {
    background-color: #00000000 !important;
    border-color: #00000000 !important;
}

.btn-primary:future {
    background-color: #00000000 !important;
    border-color: #00000000 !important;
}

.collapse p {
    color: white;
}

p {
    text-align: justify;
}

h3 {
    padding: 0;
}